{#
/**
 * @file
 * footer-end-logo
 *
 * See footer-end-logo.space.yaml for documentation.
 *
 * @todo: image twig drupal implementation, right now only image rendering * with drupal default twig.
 */
#}

{{ attach_library('oecd/footer-end-logo') }}

{% set on_scroll_animation = on_scroll_animation|render == '' ? 'none' : on_scroll_animation %}
{% set aos_easing = "ease-in" %}

{# Template #}
{% block footer_end_logo_block %}
  <div class="fel h-full flex flex-col justify-between">
    {% if image|render|trim is not empty %}
      <div class="fel--image" data-aos={{ on_scroll_animation }} data-aos-delay={{ on_scroll_animation_delay }} data-aos-easing={{ aos_easing }} data-aos-offset="0">
        {{ image }}
      </div>
    {% endif %}
  </div>
{% endblock %}
