{#
/**
 * @file
 * image card
 *
 * See card.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/card') }}

{# Default #}
{% set element = element|default('article') %}

{# Classes #}
{% set classes = [
  'media__card w-full overflow-hidden flex flex-col items-start card-component ga-image-card ga_space_component',
  alignment,
  card_layout,
  card_size,
  horizontal_column_alignment|render|striptags|trim,
  vertical_column_alignment|render|striptags|trim,
  card_layout == 'withcontainer' ? 'p-4 bg-white rounded-lg',
  full_box_link ? 'full_box_link' : '',
  extra_classes ? extra_classes,
] %}

{% set hover_classes = [
  'card_image mb-6',
  image_hover|render|striptags|trim == 'On' ? 'hover_on' : 'hover_off',
] %}

{% set attributes = attributes|default(create_attribute()).addClass(classes| sort | join(' ') | trim) %}

{# Template #}
{% block image_card_block %}
  <{{ element }} {{ attributes }} data-aos={{ on_scroll_animation }} data-aos-duration={{ on_scroll_animation_duration }}>
    <div class="top-section w-full">
      {% if image|render|trim is not empty %}
        <div {{ region_attributes.image|default(create_attribute()).addClass(hover_classes| sort | join(' ') | trim).setAttribute('tabindex', '0') }} >
          {{ image }}
        </div>
      {% endif %}
    </div>

    <div class="bottom-section">
      {% if preheadline|render|striptags|trim is not empty %}
        <div {{ region_attributes.preheadline|default(create_attribute()).addClass('card_preheadline text-text-primaryDark uppercase textSm-bold tracking-widest mb-3').setAttribute('tabindex', '0') }}>
          {{ preheadline }}
        </div>
      {% endif %}

      {% if headline|render|striptags|trim %}
        {{ headline }}
      {% endif %}

      {% if text|render|striptags|trim %}
        <div {{ region_attributes.text|default(create_attribute()).addClass('card_text textMd-regular text-text-body mb-4 md:mb-6').setAttribute('tabindex', '0') }}>{{ text }}</div>
      {% endif %}

			 {% if link|render|striptags|trim %}
        {{ link }}
      {% endif %}

      {% if cells_1 %}
        <div class="avatar-item-wrap mt-3" tabindex="0">
          {{ cells_1 }}
        </div>
      {% endif %}

      {% if badge_items %}
        <div class="card-badge flex flex-wrap gap-2" tabindex="0">
          {{ badge_items }}
        </div>
      {% endif %}
    </div>
  </{{ element }}>
{% endblock %}
