{#
/**
 * @file
 * Timeline card
 *
 * See card.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/card') }}

{# Default #}
{% set element = element|default('article') %}

{# Classes #}
{% set classes = [
  'media__card timeline_card w-full overflow-hidden flex flex-col items-start',
  alignment,
  'timeline'~card_layout,
  card_layout == 'variation1' ? card_size,
  card_layout == 'variation2' ? card_size,
  card_layout == 'variation3' ? 'w-full',
  card_layout == 'variation4' ? 'w-full bg-backgroundNeutral-neutralMedium',
  full_box_link ? 'full_box_link' : '',
  extra_classes ? extra_classes,
] %}

{% set hover_classes = [
  'card_timeline mb-6',
] %}


{% set attributes = attributes|default(create_attribute()).addClass(classes| sort | join(' ') | trim) %}

{# Template #}
{% block timeline_card_block %}
  {% if card_layout == 'variation1' %}
    <{{ element }} {{ attributes }}>
      <div class="top-section w-full">
        {% if date|render|striptags|trim %}
          <div class="year textSm-bold text-text-body mb-1" tabindex="0">{{date}}</div>
        {% endif %}
        {% if headline|render|striptags|trim %}
          {{ headline }}
        {% endif %}
        {% if text|render|striptags|trim %}
          <div {{ region_attributes.text|default(create_attribute()).addClass('textMd-regular text-text-body mb-4').setAttribute('tabindex', '0') }}>{{ text }}</div>
        {% endif %}

      </div>

      <div class="bottom-section">
        {% if image|render|trim is not empty %}
          <div {{ region_attributes.image|default(create_attribute()).addClass(hover_classes| sort | join(' ') | trim).setAttribute('tabindex', '0') }} >
            {{ image }}
          </div>
        {% endif %}
      </div>
    </{{ element }}>
  {% endif %}
  {% if card_layout == 'variation2' %}
    <div class="milestone">
      <span class="date-year ga-timeline-year" tabindex="0">
        {{ date|render|striptags|trim }}
      </span>
      {% if date|render|striptags|trim %}
        <span class="date-month" tabindex="0">{{date}}</span>
      {% endif %}
    </div>
    <{{ element }} {{ attributes }}>
      <div class="timeline-variation2">
        <div class="left-side year hidden" tabindex="0">
          {% if date|render|striptags|trim %}
            {{date}}
          {% endif %}
        </div>
        <div class="flex justify-between gap-x-4 maxMd:flex-col">
          <div class="left-section w-full">
            {% if headline|render|striptags|trim %}
              {{ headline }}
            {% endif %}
            {% if text|render|striptags|trim %}
              <div {{ region_attributes.text|default(create_attribute()).addClass('card_text textMd-regular text-text-body mb-4 md:mb-6').setAttribute('tabindex', '0') }}>{{ text }}</div>
            {% endif %}
          </div>
          <div class="right-section">
            {% if image|render|trim is not empty %}
              <div {{ region_attributes.image|default(create_attribute()).addClass(hover_classes| sort | join(' ') | trim).setAttribute('tabindex', '0') }} >
                {{ image }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </{{ element }}>
  {% endif %}
  {% if card_layout == 'variation3' %}
    <{{ element }} {{ attributes }}>
      {% if background_image|render|trim is not empty %}
      <div class="backgroundImage w-full h-full xl:h-screen absolute top-0 left-0 bg-cover bg-no-repeat bg-center">
        {{ background_image }}
      </div>
    {% endif %}
      <div class="container relative md:h-[25rem] lg:h-[45rem] maxMd:m-0 md:mx-8 xl:mx-auto z-20 maxMd:p-4">
        <div class="w-full md:w-1/2 flex h-full flex-col md:justify-center">
          {% if headline|render|striptags|trim %}
            {{ headline }}
          {% endif %}
          {% if date|render|striptags|trim %}
             <div class="year ga-timeline-year md:displayXL-regular md:text-white mb-4" tabindex="0">
              {{ date|render|striptags|trim|date('Y')}}
             </div>
          {% endif %}
          {% if text|render|striptags|trim %}
            <div {{ region_attributes.text|default(create_attribute()).addClass('card_text textMd-regular md:text-text-neutralLight mb-4 md:mb-6').setAttribute('tabindex', '0') }}>{{ text }}</div>
          {% endif %}
        </div>
      </div>
    </{{ element }}>
  {% endif %}
  {% if card_layout == 'variation4' %}
    <{{ element }} {{ attributes }}>
      <div class="container relative h-full mx-auto flex items-center justify-between maxMd:flex-col-reverse lg:p-0 maxMd:px-4 md:px-[1.875rem] gap-x-4">
        <div class="left-section max-w-[380px] w-full md:w-1/2">
          {% if headline|render|striptags|trim %}
            {{ headline }}
          {% endif %}
          {% if date|render|striptags|trim %}
            <div class="year ga-timeline-year md:displayLG-bold text-text-primaryDark mb-4" tabindex="0">
              {{ date|render|striptags|trim|date('Y')}}
            </div>
          {% endif %}
          {% if text|render|striptags|trim %}
            <div {{ region_attributes.text|default(create_attribute()).addClass('card_text textMd-regular text-text-body mb-4 md:mb-6').setAttribute('tabindex', '0') }}>{{ text }}</div>
          {% endif %}
        </div>
        <div class="right-section w-full md:w-1/2">
        {% if image|render|trim is not empty %}
          <div {{ region_attributes.image|default(create_attribute()).addClass(hover_classes| sort | join(' ') | trim).setAttribute('tabindex', '0') }} >
            {{ image }}
          </div>
        {% endif %}
      </div>
      </div>
    </{{ element }}>
  {% endif %}
{% endblock %}
