{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'layout',
    'layout--twocol-section',
    'layout-builder__layout'
  ]
%}

{# Header Menu Animation #}
{% set animation_type = settings.layout_header_menu_animation.animation_type %}
{% set animation_duration = settings.layout_header_menu_animation.animation_duration|default(0) %}
{% set animation_delay = settings.layout_header_menu_animation.animation_delay|default(0) %}
{% set animation_duration_2 = animation_duration + animation_delay %}

{% if content %}
<div{{ attributes.addClass(classes).removeClass(layout_classes, layout_subheader_classes) }}>
  <div{{ attributes.addClass(layout_classes, layout_subheader_classes, 'layout-wrapper').removeClass(layout_space_bottom, layout_space_top, layout_mobile_tablet, layout_background_colours, layout_extra_classes, classes)}}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }} {% if animation_type is not empty and animation_type != 'None' %} data-aos="{{ animation_type }}" data-aos-duration="{{ animation_duration }}" {% endif %}>
        <div class="inner">
          <div class="content-wrap">
            {{ content.first }}
          </div>
        </div>
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }} {% if animation_type is not empty and animation_type != 'None' %} data-aos="{{ animation_type }}" data-aos-duration="{{ animation_duration_2 }}" {% endif %}>
        <div class="inner">
          <div class="content-wrap">
            {{ content.second }}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>
{% endif %}
