{#
/**
 * @file
 * hero-banner-style 7
 *
 * See hero-banner.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/hero-banner') }}

{# Template #}
{% block hero_banner_style_7_block %}
  <section class="hero-banner body-font style-7 ga-hero-banner-7 ga_space_component" role="banner">
    <div class="container relative h-full mx-auto">
      {% if headline|render|striptags|trim is not empty %}
        <div class="heading max-w-screen-lg mx-auto">
          {{ headline }}
        </div>
      {% endif %}

      {% if sub_headline|render|striptags|trim is not empty %}
        <div{{ region_attributes.sub_headline|default(create_attribute()).addClass('sub-headline textLG-regular lg:textXL-regular text-text-body w-full max-w-screen-md mx-auto mb-8 lg:mb-48').setAttribute('tabindex', '0') }}>{{ sub_headline }}</div>
      {% endif %}

      {% if button_1|render|striptags|trim is not empty or button_2|render|striptags|trim is not empty %}
        <div class="cta-button flex flex-col md:flex-row md:justify-center mb-64">
          {% if button_1|render|striptags|trim is not empty %}
            <div{{ region_attributes.button_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>{{ button_1 }}</div>
          {% endif %}

          {% if button_2|render|striptags|trim is not empty %}
            <div{{ region_attributes.button_2|default(create_attribute()).setAttribute('tabindex', '0') }}>{{ button_2 }}</div>
          {% endif %}
        </div>
      {% endif %}

      {% if image_1|render|trim is not empty %}
        <div class="image-container flex flex-col md:flex-row md:justify-center">
          <div {{ region_attributes.image_1|default(create_attribute()).addClass('md:w-fit md:max-w-screen-lg').setAttribute('tabindex', '0') }}>
            {{ image_1 }}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
