{#
/**
 * @file
 * hero-banner-style 6
 *
 * See hero-banner.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/hero-banner') }}

{# Template #}
{% block hero_banner_style_6_block %}
  <section class="hero-banner body-font style-6 ga-hero-banner-6 ga_space_component" role="banner">
    <div class="container relative h-full mx-auto">
      <div class="banner-content gap-y-10 gap-x-10 sm:gap-x-4 md:gap-x-5 lg:gap-x-8 flex flex-col lg:flex-row lg:items-center lg:justify-between">
        <div class="content-container lg:w-65/100 lg:max-w-65/100">
          {% if headline|render|striptags|trim is not empty %}
            <div class="heading">
              {{ headline }}
            </div>
          {% endif %}

          {% if sub_headline|render|striptags|trim is not empty %}
            <div{{ region_attributes.sub_headline|default(create_attribute()).addClass('sub-headline textLG-regular lg:displayXs-regular text-text-body w-full mb-8 lg:mb-48').setAttribute('tabindex', '0') }}>{{ sub_headline }}</div>
          {% endif %}

          {% if button_1|render|striptags|trim is not empty or button_2|render|striptags|trim is not empty %}
            <div class="cta-button flex flex-col md:flex-row md:justify-start">
              {% if button_1|render|striptags|trim is not empty %}
                <div{{ region_attributes.button_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>{{ button_1 }}</div>
              {% endif %}

              {% if button_2|render|striptags|trim is not empty %}
                <div{{ region_attributes.button_2|default(create_attribute()).setAttribute('tabindex', '0') }}>{{ button_2 }}</div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        {% if image_1|render|trim is not empty %}
          <div {{ region_attributes.image_1|default(create_attribute()).addClass('image-container lg:w-35/100 lg:max-w-35/100 mb-auto').setAttribute('tabindex', '0') }}>
            {{ image_1 }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
