{#
/**
 * @file
 * hero-banner-style 1
 *
 * See hero-banner.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/hero-banner') }}

{# Template #}
{% block hero_banner_style_1_block %}
  <section class="hero-banner body-font style-1 ga-hero-banner-1 ga_space_component" role="banner">
    {% if background_image|render|trim is not empty %}
      <div class="backgroundImage w-full h-full xl:h-screen absolute top-0 left-0 bg-cover bg-no-repeat bg-center" tabindex='0'>
        {{ background_image }}
      </div>
    {% endif %}

    <div class="container relative h-full mx-auto z-20 xl:pb-[17.5rem]">
      {% if headline|render|striptags|trim is not empty %}
        <div class="heading max-w-798">
          {{ headline }}
        </div>
      {% endif %}

      {% if sub_headline|render|striptags|trim is not empty %}
        <div{{ region_attributes.sub_headline|default(create_attribute()).addClass('sub-headline textLG-regular lg:displayXs-regular text-text-heading w-full max-w-798 mb-10').setAttribute('tabindex', '0') }}>{{ sub_headline }}</div>
      {% endif %}

      {% if email_form is not empty %}
        <div{{ region_attributes.email_form|default(create_attribute()).addClass('email-form max-w-480').setAttribute('tabindex', '0') }}>{{ email_form }}</div>
      {% endif %}

      {% if items is not empty %}
        <div{{ region_attributes.items|default(create_attribute()).addClass('bottom-info').setAttribute('tabindex', '0') }}>{{ items }}</div>
      {% endif %}
    </div>
  </section>
{% endblock %}
