{#
  /**
  * @file
  * _sticky-jump-link
  *
  * See _sticky-jump-link.space.yaml for documentation.
  */
#}

{{ attach_library('oecd/sticky-jump-link') }}

{# Default #}
{% set element = element|default('section') %}

{# Classes #}
{% set classes = [
  'sticky-jump-link-content',
  alignment
] %}

{% set attributes = attributes|default(create_attribute()).addClass(classes| sort | join(' ') | trim) %}

{# Template #}
{% block sticky_jump_link_block %}
  <div class="sticky-jump-link-wrapper container mx-auto">
    <div class="sticky-tag-list {{ tags_alignment }}">
      {{ tags }}
    </div>

    <{{ element }} {{ attributes }}>
      {{ items }}
    </{{ element }}>
  </div>
{% endblock %}
