{#
/**
 * @file
 * Team sections - Simple 2
 * See team_section.space.yaml for documentation.
 *
 */
#}

{{ attach_library('oecd/team-section') }}

{# Default #}
{% set element = element|default('section') %}

{# Classes #}
{% set classes = ([
  'team-members-wrapper',
  'team-sections-simple team-sections-simple-2 ga-team-sections-simple-2 ga_space_component',
  background_color,
] | sort | join(' ') | trim ) %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# Template #}
{% block team_sections_simple_2_block %}
  <{{ element }} {{ attributes }}>
    {# Intro section - Section heading #}
    {% if intro_section is not empty %}
      <div class="intro-section-wrapper">
        {{ intro_section }}
      </div>
    {% endif %}

    {# Team members list #}
    <div class="team-member-list">
      <div class="container mx-auto">
        <div class="team-members-block people-with-avatar-bio">
          {{ team_member }}
        </div>
      </div>
    </div>
  </{{ element }}>
{% endblock %}
