{#
/**
 * @file
 * block-navigation
 *
 * See block-navigation.space.yaml for documentation.
 */
#}

{# Default #}
{% set attributes = attributes|default(create_attribute()) %}
{% set heading_id = attributes.id %}

{# Classes #}
{% set classes = [
  'block-navigation block-sub-menu',
  menu_block_title_size,
  menu_block_title_weight,
  menu_size,
  menu_weight,
  icon_type,
  menu_layout_type,
  menu_color,
  menu_hover_color,
  description_color,
  menu_alignment,
  menu_block_border,
  menu_block_border_color,
  extra_classes
] %}

{# Template #}
{% block header_submenu_navigation_block %}
  <div {{ attributes|without('role', 'aria-labelledby').addClass(classes | sort | join(' ') | trim) }} aria-labelledby="{{ heading_id }}" role="navigation">
    {{ title_suffix }}
    {% if heading|render|striptags|trim is not empty %}
      <h2 class="block-title textSm-medium w-full text-text-primaryDark mb-6 lg:mb-8">{{ heading }}</h2>
    {% endif %}
    {% if content|render|trim is not empty %}
      <div class="block-navigation-content">{{ content }}</div>
    {% endif %}
  </div>
{% endblock %}
