{#
/**
 * @file
 * footer-logo-content
 *
 * See footer-logo-content.space.yaml for documentation.
 *
 * @todo: image twig drupal implementation, right now only image rendering * with drupal default twig.
 */
#}

{{ attach_library('oecd/footer-logo-content') }}

{# Defaults #}
{% set attributes = attributes|default(create_attribute()) %}
{% set aos_easing = "ease-in" %}

{# Classes #}
{% set classes = [
  'footer-logo-content-wrapper'
] %}

{# Template #}
{% block footer_logo_content_block %}
  <div {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
    <div class="flex flex-col">
      <div class="footer-logo flex items-center mb-4" data-aos={{ on_scroll_animation_logo }} data-aos-delay={{ on_scroll_animation_delay_logo }} data-aos-easing={{ aos_easing }}  data-aos-offset="0">
        <div class="mr-0">{{ logo }}</div>
      </div>

      {% if text is not empty %}
        <div class="footer-content text-text-body font-primary" data-aos={{ on_scroll_animation_content }} data-aos-delay={{ on_scroll_animation_delay_content }} data-aos-offset="0">
          {{ text }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
