{#
/**
 * @file
 * social-media-navigation
 *
 * See social-media-navigation.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/header-styling') }}

{# classes #}
{% set url = link_url %}
{% set variant = variant|default('default') %}
{% set link_item_extra_classes = ([
  'menu__' ~ variant ~ '--item',
  menu_level ? 'menu__level-' ~ menu_level : 'menu__level-0',
  item.in_active_trail ? 'active-trail',
  item.is_active ? 'is-active',
]| sort | join(' ') | trim) %}

{% set item_attributes =  item.attributes|default(create_attribute()) %}
{% set aos_easing = 'ease-in' %}
{% set socialicon %}
  {% include "@atoms/svg/_svg--icon.twig" with {
    icon: icon,
    size: 'w-5 h-5 inline-block',
  } only %}
{% endset %}

{# Template #}
{% if extra_field == 'null' %}
  {% block social_media_navigation_block %}
    {% import _self as menus %}

    {{ menus.menu_links(items, attributes, 0, variant, wrap_nav) }}

    {% macro menu_links(items, attributes, menu_level, variant, wrap_nav) %}
      {% import _self as menus %}
      {% if items %}
        {% set wrap_nav = wrap_nav|default(false) %}
        {% set variant = variant|default('default') %}

        {% set classes = [] %}

        {% if wrap_nav %}
          <nav role="navigation">
        {% endif %}

        {% set menu_modifiers = ([
          'menu menu__social flex space-x-3'
        ]) %}

        {% if menu_level == 0 %}
          <ul{{ attributes.addClass(menu_modifiers) }}>
        {% else %}
          <ul>
        {% endif %}
        {% for item in items %}
          {% set link_item_extra_classes = ([
            'menu__' ~ variant ~ '--item',
            menu_level ? 'menu__level-' ~ menu_level : 'menu__level-0',
            item.in_active_trail ? 'active-trail',
            item.is_active ? 'is-active',
          ]| sort | join(' ') | trim) %}
          {% set item_attributes =  item.attributes|default(create_attribute()) %}
          {% if item.content %}
            {% set socialicon %}
              {% include "@atoms/svg/_svg--icon.twig" with {
                icon: item.content,
                size: 'w-5 h-5 inline-block',
              } only %}
            {% endset %}
          {% else %}
            {% set socialicon %}
              {% include "@atoms/svg/_svg--icon.twig" with {
                icon: item.url.options.attributes.class.0,
                size: 'w-5 h-5 inline-block',
              } only %}
            {% endset %}
          {% endif %}
            <li{{ item_attributes }} {{ item_attributes.addClass(link_item_extra_classes) }} data-aos={{ on_scroll_animation}} data-aos-delay={{ on_scroll_animation_delay }} data-aos-easing={{ aos_easing }} data-aos-offset="0">
              {% include "@atoms/link/link.twig" with item|merge({
                custom_style: true,
                url: item.url|render,
                content: socialicon,
                extra_classes: 'text-sm no-underline w-6 h-6 rounded-full shadow-2xl bg-shaded-white ' ~ item.url.options.attributes.class.0,
                target: item.url.options.attributes.target,
                title_text: item.title,
              }) only %}
              {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1, variant, wrap_nav) }}
              {% endif %}
            </li>
        {% endfor %}
          </ul>
        {% if wrap_nav %}
          </nav>
        {% endif %}
      {% endif %}
    {% endmacro %}
  {% endblock %}
{% else %}
  <li{{ item_attributes }} {{ item_attributes.addClass(link_item_extra_classes) }} data-aos={{ on_scroll_animation}} data-aos-delay={{ on_scroll_animation_delay }} data-aos-easing={{ aos_easing }} data-aos-offset="0">
    {% block menu_item_secondary_block %}
      {% include "@atoms/link/link.twig" with {
        url: url,
        custom_style: true,
        content: socialicon,
        extra_classes: 'text-sm no-underline w-6 h-6 rounded-full shadow-2xl bg-shaded-white ' ~ icon,
        title_text: menu_title
      } only %}
    {% endblock %}
  </li>
{% endif %}
