{#
/**
 * @file
 * block-footer-text
 *
 * See block-footer-text.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/block-footer-text') }}

{# Default #}
{% set attributes = attributes|default(create_attribute()) %}
{% set heading_id = attributes.id %}

{# Classes #}
{% set classes = [
  'block-footer-text',
  extra_classes
] %}

{% set on_scroll_animation_heading = on_scroll_animation_heading|render == '' ? 'none' : on_scroll_animation_heading %}

{% set on_scroll_animation_description = on_scroll_animation_description|render == '' ? 'none' : on_scroll_animation_description %}

{% set aos_easing = "ease-in" %}

{# Template #}
{% block footer_text_block %}
  <div {{ attributes|without('role', 'aria-labelledby').addClass(classes | sort | join(' ') | trim) }} aria-labelledby="{{ heading_id }}" role="contentinfo">
    {{ title_suffix }}
    {% if title|render|striptags|trim is not empty %}
      {# Footer Text Block Title #}
      <h2 class="block-title text-base {{ title_font_size }} {{ title_color }}" data-aos={{ on_scroll_animation_heading }} data-aos-delay={{ on_scroll_animation_delay_heading }} data-aos-easing={{ aos_easing }} data-aos-offset="0">{{ title }}</h2>
    {% endif %}
    {% if content is not empty %}
      {# Footer Text Block Description #}
      <div class="block-content text-base {{ content_font_size }} {{ content_color }}" data-aos={{ on_scroll_animation_description }} data-aos-delay={{ on_scroll_animation_delay_description }} data-aos-easing={{ aos_easing }} data-aos-offset="0">{{ content }}</div>
    {% endif %}
  </div>
{% endblock %}
