{% block simple_login_form_block %}
	<div class="simplelogin-form px-4 lg:px-0 mt-[4rem]">
		<div class="simplelogin-form__logo text-center">
			{% include "@atoms/logo/logo.twig" with { variant: "only_logo" } %}
		</div>
		<h2 class="signup-and-login-title text-2xl lg:text-3xl leading-10 font-semibold text-text-heading text-center mb-0">
			{{ form_title }}
		</h2>
		<h5 class="signup-and-login-subtitle text-base font-secondary text-text-body text-center mt-3 mb-8">
			{{ form_subtitle }}
		</h5>
		{% include "@atoms/forms/_form-element.twig" with {
			"variant": "email",
			"description_text": "Enter email address.",
			"label_display": "before",
			"label": email_label,
			"children": children1
		} %}
		{% include "@atoms/forms/_form-element.twig" with {
			"variant": "textfield",
			"description_text": "Enter password.",
			"label_display": "before",
			"label": password,
			"children": children4
		} %}
		<div class="simplelogin-form__link-auth-wrapper flex justify-between items-baseline">
			{% include "@atoms/forms/_form-element.twig" with {
				"variant": "checkbox",
				"description_text": checkbox_label,
				"label_display": "after",
				"label": checkbox_label,
				"children": children3
			} %}
			{{ forget_password_link }}
		</div>
		<div class="simplelogin-form__btn-wrapper flex flex-wrap flex-col-reverse">
			<div class="simplelogin-form__social-btn w-full text-center">
				{% include "@atoms/social-button/social-button.twig" with {
					"text": social_button_text,
					"social_button_link": social_button_link,
					"social_button_type": "google"
				} %}
			</div>
			<div class="simplelogin-form__signin-btn w-full">
				{% include "@atoms/button/button.twig" with {
					"variant": "primary",
					"text": signin_button_text,
					"button_type": "only_text",
					"size": "large",
					"url": signin_url,
					"icon": "whiteCircle",
					"icon_alignment": "right"
				} %}
			</div>
		</div>
		<div class="simplelogin-form__signup-link-wrapper text-center mt-8">
			<span class="signup-linklabel text-text-body">{{ signup_label }}</span>
			{{ signup_link }}
		</div>
	</div>
{% endblock %}
