{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Tagline Animation #}
{% set tagline_animation = animation['group_animation']['field_hcarousel_preheadline_osa']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_hcarousel_preheadline_osa']|render|striptags|trim %}

{# Title Animation #}
{% set title_animation = animation['group_animation']['field_on_scroll_animation']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation']|render|striptags|trim %}

{# Description Animation #}
{% set description_animation = animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim %}

{# Link Animation #}
{% set link_animation = animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim %}

{# Animation #}
{% if animation['group_animation']['field_animation']|render|striptags|trim == 'Off' or animation['group_animation']['field_animation']|render|striptags|trim == '' %}
  {% set carousel_animation = '' %}
{% else %}
  {% set carousel_animation = 'animation' %}
{% endif %}

{# Template #}
{% block carousel_item_image_asymmetric %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="container h-full mx-auto carousel {{ carousel_animation }}">
        <div class="item-image-with-asymmetric-text relative grid grid-cols-1 lg:grid-cols-12 gap-y-8 md:gap-x-8">
          <div class="data-col lg:col-span-4">
            {% if tagline|render|striptags|trim is not empty %}
              <div class="uppercase text-text-primaryDark textMd-bold tagline {{ tagline_animation }}" tabindex='0'>
                {% block tagline %}
                  {{ tagline }}
                {% endblock %}
              </div>
            {% endif %}

            {% if title|render|striptags|trim is not empty %}
              {% block title %}
                <div class ="title {{ title_animation }}">
                  {{ title }}
                </div>
              {% endblock %}
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="description textMd-regular lg:textXL-regular {{ description_animation }}" tabindex='0' >
                {% block description %}
                  {{ description }}
                {% endblock %}
              </div>
            {% endif %}

            {% if button_1|render|striptags|trim is not empty or button_2|render|striptags|trim is not empty %}
              <div class="cta-button flex flex-col md:flex-row md:justify-start" >
                {% if button_1|render|striptags|trim is not empty %}
                  <div{{ region_attributes.button_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>
                    <div class="button-1 {{ link_animation }}">{{ button_1 }}</div></div>
                {% endif %}

                {% if button_2|render|striptags|trim is not empty %}
                  <div{{ region_attributes.button_2|default(create_attribute()).setAttribute('tabindex', '0') }}>{{ button_2 }}</div>
                {% endif %}
              </div>
            {% endif %}
          </div>

          <div class="image-col lg:col-span-8 {{ carousel_animation }}">
            {% if image|render|trim is not empty %}
              <div class="image-wrapper" tabindex='0'>
                {{ image }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
