{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Animation #}
{% if animation['group_animation']['field_animation']|render|striptags|trim == 'Off' or animation['group_animation']['field_animation']|render|striptags|trim == '' %}
  {% set carousel_animation = '' %}
{% else %}
  {% set carousel_animation = 'animation' %}
{% endif %}

{# Headline Animation #}
{% set title_animation = animation['group_animation']['field_on_scroll_animation']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation']|render|striptags|trim %}

{# Description Animation #}
{% set description_animation = animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim %}

{# Button Animation #}
{% set button_1_animation = animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim %}

{# Template #}
{% block carousel_item_image_video_with_description %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="container h-full mx-auto carousel {{ carousel_animation }}">
        <div class="item-images-and-video-with-description relative">
          <div class="data-col grid grid-cols-1 lg:grid-cols-12 gap-y-6 md:gap-x-8">
            <div class="col-one lg:col-span-6 headline {{ title_animation }}">
              {% if title|render|striptags|trim is not empty %}
                {% block title %}
                  {{ title }}
                {% endblock %}
              {% endif %}
            </div>

            <div class="col-two lg:col-span-6">
              {% if description|render|striptags|trim is not empty %}
                <div class="description textLG-regular {{ description_animation }}" tabindex='0'>
                  {% block description %}
                    {{ description }}
                  {% endblock %}
                </div>
              {% endif %}

              {% if button_1|render|striptags|trim is not empty %}
                <div class="cta-button flex flex-col md:flex-row md:justify-start {{ button_1_animation }}">
                  <div{{ region_attributes.button_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3 ').setAttribute('tabindex', '0') }}>{{ button_1 }}</div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="image-col">
            {% if (video is not empty and image is not empty) %}
              <div {{ region_attributes.video|default(create_attribute()).addClass('carousel-video').setAttribute('tabindex', '0') }}>{{ video }}</div>
            {% else %}
              {% if image|render|trim is not empty %}
                <span tabindex='0'>{{ image }}</span>
              {% endif %}

              {% if video|render|trim is not empty %}
                <span tabindex='0'>{{ video }}</span>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
