{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Animation #}
{% if animation['group_animation']['field_animation']|render|striptags|trim == 'Off' or animation['group_animation']['field_animation']|render|striptags|trim == '' %}
  {% set carousel_animation = '' %}
{% else %}
  {% set carousel_animation = 'animation' %}
{% endif %}

{# Title Animation #}
{% set title_animation = animation['group_animation']['field_on_scroll_animation']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation']|render|striptags|trim %}

{# Description Animation #}
{% set description_animation = animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim %}

{# Description Animation #}
{% set link_animation = animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim %}

{# Template #}
{% block carousel_item_image_title_cta %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="container h-full mx-auto carousel {{ carousel_animation }}">
        <div class="item-image-with-title-cta grid grid-cols-1 lg:grid-cols-12 gap-y-2.5 md:gap-x-8">
          <div class="data-col lg:col-start-2 lg:col-span-4">
            {% if title|render|striptags|trim is not empty %}
              {% block title %}
                <span class="carousel-headline {{ title_animation }}">{{ title }}</span>
              {% endblock %}
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="description textLG-bold lg:textXL-bold {{ description_animation }}" tabindex='0'>
                {% block description %}
                  {{ description }}
                {% endblock %}
              </div>
            {% endif %}

            {% if button_1|render|striptags|trim is not empty %}
              <div class="cta-button flex flex-col md:flex-row md:justify-start {{ link_animation }}">
                <div{{ region_attributes.button_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>{{ button_1 }}</div>
              </div>
            {% endif %}
          </div>

          <div class="image-col lg:col-span-7">
            {% if image|render|trim is not empty %}
              {% block image %}
                <span tabindex='0'>{{ image }}</span>
              {% endblock %}
            {% endif %}
          </div>
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
