{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Animation #}
{% if animation['group_animation']['field_animation']|render|striptags|trim == 'Off' or animation['group_animation']['field_animation']|render|striptags|trim == '' %}
  {% set carousel_animation = '' %}
{% else %}
  {% set carousel_animation = 'animation' %}
{% endif %}

{# Headline Animation #}
{% set title_animation = animation['group_animation']['field_on_scroll_animation']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation']|render|striptags|trim %}

{# Description Animation #}
{% set description_animation = animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim %}

{# Button Animation #}
{% set button_1_animation = animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_hcarousel_link1_osa']|render|striptags|trim %}
{% set button_2_animation = animation['group_animation']['field_hcarousel_link2_osa']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_hcarousel_link2_osa']|render|striptags|trim %}

{# Template #}
{% block carousel_item_image_fullwidth_left %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="container h-full mx-auto carousel {{ carousel_animation }}">
        <div class="item-image-fullwidth-left grid grid-cols-1 md:grid-cols-8 lg:grid-cols-12 gap-y-8 md:gap-x-8">
          <div class="data-col md:col-span-6 lg:col-span-8 xl:col-span-6">
            {% if title|render|striptags|trim is not empty %}
              {% block title %}
                <div class="image-fullwidth-left-title {{ title_animation }}">
                  {{ title }}
                </div>
              {% endblock %}
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="description textSm-regular {{ description_animation }}" tabindex='0'>
                {% block description %}
                  {{ description }}
                {% endblock %}
              </div>
            {% endif %}

            {% if button_1|render|striptags|trim is not empty or button_2|render|striptags|trim is not empty %}
              <div class="cta-button flex flex-col md:flex-row md:justify-start">
                {% if button_1|render|striptags|trim is not empty %}
                  <div{{ region_attributes.button_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3 button-1' ~ ' ' ~ button_1_animation).setAttribute('tabindex', '0') }}>{{ button_1 }}</div>
                {% endif %}

                {% if button_2|render|striptags|trim is not empty %}
                  <div{{ region_attributes.button_2|default(create_attribute()).addClass('button-2' ~ ' '  ~ button_2_animation).setAttribute('tabindex', '0') }}>{{ button_2 }}</div>
                {% endif %}
              </div>
            {% endif %}
          </div>

          <div class="image-col">
            {% if image|render|trim is not empty %}
              {% block image %}
                <span tabindex='0'>{{ image }}</span>
              {% endblock %}
            {% endif %}
          </div>
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
