{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Animation #}
{% if animation['group_animation']['field_animation']|render|striptags|trim == 'Off' or animation['group_animation']['field_animation']|render|striptags|trim == '' %}
  {% set carousel_animation = '' %}
{% else %}
  {% set carousel_animation = 'animation' %}
{% endif %}

{# Title Animation #}
{% set title_animation = animation['group_animation']['field_on_scroll_animation']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation']|render|striptags|trim %}

{# Description Animation #}
{% set description_animation = animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim %}

{# Template #}
{% block carousel_item_image_title_description %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="container h-full mx-auto carousel {{ carousel_animation }}">
        <div class="item-image-with-title-and-description relative grid grid-cols-1 lg:grid-cols-12 gap-y-8 md:gap-x-8">
          <div class="data-col lg:col-span-4">
            {% if title|render|striptags|trim is not empty %}
              {% block title %}
                <div class="title {{ title_animation }}">
                  {{ title }}
                </div>
              {% endblock %}
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="description textMd-regular {{ description_animation }}" tabindex='0'>
                {% block description %}
                  {{ description }}
                {% endblock %}
              </div>
            {% endif %}
          </div>

          <div class="image-col lg:col-span-8 {{ carousel_animation }}">
            {% if image|render|trim is not empty %}
              {% block image %}
                <span class="carousel_image image-animation" tabindex='0'>{{ image }}</span>
              {% endblock %}
            {% endif %}
          </div>
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
