{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Animation #}
{% set aos_easing = "ease-in" %}

{% if animation['group_animation']['field_animation']|render|striptags|trim == 'Off' or animation['group_animation']['field_animation']|render|striptags|trim == '' %}
  {% set carousel_animation = '' %}
{% else %}
  {% set carousel_animation = 'animation' %}
{% endif %}

{# Headline Animation #}
{% set title_animation = animation['group_animation']['field_on_scroll_animation']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation']|render|striptags|trim %}

{# Description Animation #}
{% set description_animation = animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim == '' ? 'none' : animation['group_animation']['field_on_scroll_animation_descri']|render|striptags|trim %}

{# Template #}
{% block carousel_item_text_only %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="container h-full mx-auto carousel {{ carousel_animation }}">
        <div class="item-text-only relative grid grid-cols-1 lg:grid-cols-12 gap-y-8 md:gap-x-8">
          <div class="data-col lg:col-span-8">
            {% if title|render|striptags|trim is not empty %}
              <span class="title {{ title_animation }}">
                {% block title %}
                  {{ title }}
                {% endblock %}
              </span>
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="description displayXs-regular lg:displaySm-regular {{ description_animation }}" tabindex='0'>
                {% block description %}
                  {{ description }}
                {% endblock %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
