{#
/**
 * @file
 * cta-banner
 *
 * See cta-banner.space.yaml for documentation.
 * @todo: Email form and Info text below email form input.
 */
#}

{{ attach_library('oecd/cta-banner') }}

{# Settings #}
{% set element = element|default('section') %}

{# Template #}
{% if cta_banner_type == 'type_1' %}
  {% set classes = ([
    "cta-banner type-1 ga-cta-banner-type1 ga_space_component",
    width,
  ] | sort | join(' ') | trim ) %}

  {% set attributes = attributes|default(create_attribute()).addClass(classes).setAttribute('role', 'banner') %}

  {% block cta_banner_type_1_block %}
    <{{ element }} {{ attributes }}>
      <div class="container relative mx-auto">
        <div class="container-inner grid grid-cols-1 lg:grid-cols-2 items-start {{ alignment }}">
          <div class="banner-content">
            {% if title|render|striptags|trim is not empty %}
              <div class="banner-title">
                {{ title }}
              </div>
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="banner-description textXL-regular" tabindex='0'>
                {{ description }}
              </div>
            {% endif %}
          </div>

          {% if link_1|render|striptags|trim is not empty or link_2|render|striptags|trim is not empty or email_form is not empty %}
            <div class="banner-cta flex lg:justify-end">
              {% if cta_type == 'button' %}
                {% if link_1|render|striptags|trim is not empty or link_2|render|striptags|trim is not empty %}
                  <div class="cta-button flex flex-col md:flex-row md:justify-start">
                    {% if link_1|render|striptags|trim is not empty %}
                      <div{{ region_attributes.link_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>{{ link_1 }}</div>
                    {% endif %}

                    {% if link_2|render|striptags|trim is not empty %}
                      <div{{ region_attributes.link_2|default(create_attribute()).setAttribute('tabindex', '0') }}>{{ link_2 }}</div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}

              {% if cta_type == 'email' %}
                <div class="banner-email-form" tabindex='0'>{{ email_form }}</div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </{{ element }}>
  {% endblock %}

{% elseif cta_banner_type == 'type_2' %}
  {% set classes = ([
    "cta-banner type-2 ga-cta-banner-type2 ga_space_component",
    image_type
  ] | sort | join(' ') | trim ) %}

  {% set attributes = attributes|default(create_attribute()).addClass(classes).setAttribute('role', 'banner') %}

  {% block cta_banner_type_2_block %}
    <{{ element }} {{ attributes }}>
      <div class="container relative mx-auto">
        <div class="container-inner">
          <div class="banner-content">
            {% if title|render|striptags|trim is not empty %}
              <div class="banner-title">
                {{ title }}
              </div>
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="banner-description textLG-regular" tabindex='0'>
                {{ description }}
              </div>
            {% endif %}

            {% if link_1|render|striptags|trim is not empty or link_2|render|striptags|trim is not empty %}
              <div class="cta-button flex flex-col md:flex-row">
                {% if link_1|render|striptags|trim is not empty %}
                  <div{{ region_attributes.link_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>{{ link_1 }}</div>
                {% endif %}

                {% if link_2|render|striptags|trim is not empty %}
                  <div{{ region_attributes.link_2|default(create_attribute()).setAttribute('tabindex', '0') }}>{{ link_2 }}</div>
                {% endif %}
              </div>
              {% endif %}
          </div>

          <div class="banner-image" tabindex='0'>
            {{ image }}
          </div>
        </div>
      </div>
    </{{ element }}>
  {% endblock %}

{% elseif cta_banner_type == 'type_3' %}
  {% set classes = ([
    "cta-banner type-3 ga-cta-banner-type3 ga_space_component",
    width,
  ] | sort | join(' ') | trim ) %}

  {% set attributes = attributes|default(create_attribute()).addClass(classes).setAttribute('role', 'banner') %}

  {% block cta_banner_type_3_block %}
    <{{ element }} {{ attributes }}>
      <div class="container relative mx-auto">
        <div class="container-inner">
          <div class="banner-content">
            {% if title|render|striptags|trim is not empty %}
              <div class="banner-title">
                {{ title }}
              </div>
            {% endif %}

            {% if description|render|striptags|trim is not empty %}
              <div class="banner-description textLG-regular" tabindex='0'>
                {{ description }}
              </div>
            {% endif %}
          </div>

          <div class="banner-image" tabindex='0'>
            {{ image }}
          </div>
        </div>

        {% if link_1|render|striptags|trim is not empty or link_2|render|striptags|trim is not empty or email_form is not empty %}
          <div class="banner-cta flex lg:justify-start">
            {% if cta_type == 'button' %}
              {% if link_1|render|striptags|trim is not empty or link_2|render|striptags|trim is not empty %}
                <div class="cta-button flex flex-col md:flex-row md:justify-start">
                  {% if link_1|render|striptags|trim is not empty %}
                    <div{{ region_attributes.link_1|default(create_attribute()).addClass('mb-3 md:mb-0 md:mr-3').setAttribute('tabindex', '0') }}>{{ link_1 }}</div>
                  {% endif %}

                  {% if link_2|render|striptags|trim is not empty %}
                    <div{{ region_attributes.link_2|default(create_attribute()).setAttribute('tabindex', '0') }}>{{ link_2 }}</div>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}

            {% if cta_type == 'email' %}
              <div class="banner-email-form" tabindex='0'>{{ email_form }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </{{ element }}>
  {% endblock %}
{% endif %}
