{{ attach_library('oecd/header-styling') }}

{# Template #}
<div class="_4column-with-large-text">
  <div class="menu-link-contentmain">
    <div class="{{ layout_width == 'boxed_width' ? 'container' : 'w-full' }} mx-auto flex flex-col lg:flex-row">
      <div class="nav-col col_1 w-full lg:w-1/4">
        <div class="nav-col-title textSm-bold w-full">
          {{ column1_title }}
        </div>

        <ul>
          {% for navigation_item_1 in navigation_items_1 %}
            {{ navigation_item_1 }}
          {% endfor %}
        </ul>
      </div>

      <div class="nav-col col_2 w-full lg:w-1/4">
        <div class="nav-col-title textSm-bold w-full">
          {{ column2_title }}
        </div>

        <ul>
          {% for navigation_item_2 in navigation_items_2 %}
          {{ navigation_item_2 }}
          {% endfor %}
        </ul>
      </div>

      <div class="nav-col col_3 w-full lg:w-1/4">
        <div class="nav-col-title textSm-bold w-full">
          {{ column3_title }}
        </div>

        <ul>
          {% for navigation_item_3 in navigation_items_3 %}
          {{ navigation_item_3 }}
          {% endfor %}
        </ul>
      </div>

      <div class="nav-col col_4 w-full lg:w-1/4">
        <div class="nav-col-title textSm-bold w-full">
          {{ column4_title }}
        </div>

        <ul>
          {% for navigation_item_4 in navigation_items_4 %}
          {{ navigation_item_4 }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
