{{ attach_library('oecd/header-styling') }}

{# Template #}
<div class="_branched-navigation _branched-navigation-with-card">
  <div class="menu-link-contentmain">
    <div class="{{ layout_width == 'boxed_width' ? 'container' : 'w-full' }} mx-auto flex flex-col lg:flex-row">
      <div class="nav-col primary-col w-full lg:w-30/100">
        <div class="primary-menu-wrapper">
          <ul>
            {% for item in primary_menu %}
              {{ item }}
            {% endfor %}
          </ul>

          <div class="sticky-menu-item">
            {{ navigation_button }}
          </div>
        </div>
      </div>

      <div class="nav-col secondary-col w-full">
        <div class="block-navigation">
          <h3 class="block-title displaySm-bold text-text-heading w-full flex items-center">
            {% include "@atoms/svg/_svg--icon.twig" with {
              icon: 'arrowLeft',
              size: 'w-[0.875rem] h-[0.875rem]',
              fill_color: 'text-textButtonTertiary-buttonTertiaryDefault',
            } only %}
            Industries
          </h3>
        </div>

        <div class="col-container flex flex-col lg:flex-row gap-x-[3rem]">
          <div class="nav-col block-navigation-content col_1 w-full lg:w-2/3">
            <ul class="menu">
              {% for navigation_item_1 in navigation_items_1 %}
                {{ navigation_item_1 }}
              {% endfor %}
            </ul>
          </div>
    
          <div class="nav-col col_3 w-full lg:w-1/3">
            {% if navigation_card_title %}
              {{ navigation_card_title }}
            {% endif %}
            
            {{ card_item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
