{#
/**
 * @file
 * image-link
 *
 * See image-link.space.yaml for documentation.
 */
#}

{# Classes #}
{% set classes = [
  'image-link'
] %}

{# Template #}
{% block image_link_block %}
  {% if url|render|striptags|trim is not empty %}
    <a href="{{ url }}" {{ attributes.addClass(classes | sort | join(' ') | trim) }} target="_{{ target }}">
      {{ image }}
    </a>
  {% else %}
    <div {{ attributes.addClass(classes | sort | join(' ') | trim).addClass('no-link') }}>
      {{ image }}
    </div>
  {% endif %}
{% endblock %}
