{{ attach_library('oecd/slick-slider') }}
{{ attach_library('oecd/timeline') }}

{% set timeLine = [] %}
{% set timeline_year_list = [] %}

<div class="variation1 ga-timeline-variation-1 ga_space_component">
  <div id="timeline_wrapper">
    <div class="timelineSliderNav drupalSlidenav">
      {% for key, item in items %}
        {% set year =
          item.field_timeline_card_date|render|striptags|trim|date('Y')
        %}
        {% if year not in timeLine %}
          {% set timeLine = timeLine|merge([year]) %}
        {% endif %}
        {% set timeline_year_list = timeline_year_list|merge([year]) %}
      {% endfor %}
      {% for key, item in timeLine %}
        <div data-date="{{ item }}" class="year_wrapper">
          <span class="year-title">{{ item }}</span>
          <span class="dots"></span>
        </div>
      {% endfor %}
    </div>
    <div class="timelineSliderNav storybookSlidenav">
        {% for key, item in items_timeline_years %}
          {{ item }}
        {% endfor %}
      </div>

    <div class="timelineSlider">
      {% set yearWiseItemCount = [] %}

      {% for key, item in timeLine %}
        {% set year_count = 0 %}

        {% for key_year_list, year in timeline_year_list %}
          {% if year == item %}

            {% set year_count = year_count + 1 %}
          {% endif %}
        {% endfor %}
        {% set yearWiseItemCount = yearWiseItemCount|merge({(item):(year_count)}) %}
      {% endfor %}

      {% set prev_item = 0 %}
      {% for key, item in items %}
        {% set year_count = 0 %}
        {% for key_year_list, year in timeline_year_list %}
          {% if year == item.field_timeline_card_date|render|striptags|trim|date('Y') %}
            {% set year_count = year_count + 1 %}
          {% endif %}
        {% endfor %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
</div>
