{#
/**
 * @file
 * block-app
 *
 * See block-app.space.yaml for documentation.
 * @todo: Drupal integration of block.
 */
#}
{{ attach_library('oecd/block-get-the-app') }}

{# Default #}
{% set attributes = attributes|default(create_attribute()) %}
{% set heading_id = attributes.id %}

{# Classes #}
{% set classes = [
  'block-get-the-app'
] %}
{% set aos_easing = "ease-in" %}

{# Template #}
{% block get_the_app_block %}
  <div {{ attributes|without('role', 'aria-labelledby').addClass(classes | sort | join(' ') | trim) }} aria-labelledby="{{ heading_id }}" role="block get the app" data-aos={{ on_scroll_animation }} data-aos-delay={{ on_scroll_animation_delay }} data-aos-easing={{ aos_easing }}>
    {{ title_suffix }}
    {% if title is not empty %}
      <h2 class="block-title text-text-neutralMedium textSm-bold mb-4">{{ title }}</h2>
    {% endif %}
    <div class="block-content flex flex-row md:flex-col pb-4">
        {{ items }}
    </div>
  </div>
{% endblock %}
